.summary {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
      url(../../images/architecture-2178604_1920-main1.jpg);
    background-attachment: fixed;
    background-attachment: center center;
    color: white;
    padding: 60px 30px;
  }

  .summary h3 {
    font-family: "Source Sans Pro", Arial, sans-serif;
  }
  .summary p {
    font-family: "Roboto", Helvetica, serif;
  }

  .summary__row{
    display: flex;
    flex-wrap: wrap;
  }

  .development__summary{
    flex: 1 1 400px;
    display: flex;
  }

  .development__summary{
    flex: 1 1 400px;
    display: flex;
  }

  .responsive__summary{
    flex: 1 1 400px;
    display: flex;
  }

  .ideas__summary{
    flex: 1 1 400px;
    display: flex;
  }

  .passion__summary{
    flex: 1 1 400px;
    display: flex;
  }

